<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <form th:object="${city}" method="post" enctype="multipart/form-data">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td><input th:field="*{name}"></td>
                <td style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
            <tr>
            <tr>
                <td>
                    <select th:field="*{water}">
                        <option th:each="wt :${listWater}" th:value="${wt.id}"
                                th:text="${wt.name}"></option>
                    </select>
                </td>

            <tr>
            <tr>
                <td><input th:field="*{area}"></td>
                <td style="color: red" th:if="${#fields.hasErrors('area')}" th:errors="*{area}"></td>

            <tr>
            <tr>
                <td><input th:field="*{population}"></td>
                <td style="color: red" th:if="${#fields.hasErrors('population')}" th:errors="*{population}"></td>
            <tr>
            <tr>
                <td><input th:field="*{GDP}"></td>
                <td style="color: red" th:if="${#fields.hasErrors('GDP')}" th:errors="*{GDP}"></td>
            <tr>
            <tr>
                <td>
                    <textarea rows="5" cols="70" th:field="*{introduce}">
                    </textarea>
                </td>
                <td style="color: red" th:if="${#fields.hasErrors('introduce')}" th:errors="*{introduce}"></td>
            <tr>
            <tr>

                <td>
                    <button type="submit" class="btn btn-success">Edit</button>
                </td>
            </tr>
            <tr>
                <td><a href="/home" class="btn btn-info">Back</a></td>
            </tr>

            </tbody>
        </table>
    </form>
</div>

</body>
</html>